<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Asha's Blog!!</title>    
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/css/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="food icon"></i><a href="/" >Asha Rai's CookBook</a></div>
                <a href="/" class="item">Home</a>
                <a href="/receipes/new" class="item">Post a new receipe</a>    
            </div>
        </div>
