<% include partials/header %>
<h1>Welcome to more express assignments !!</h1>

<h2>You are in a different HTML now !! </h2>
<h3> This is EJS embedded javascript file</h3>
<% include partials/footer %>