<% include partials/header %>

<h1>Add a new campground to the site.</h1>

<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="Enter campsite name">
    <input type="text" name="imageURL" placeholder="Enter campsite image URL">
    <button>Add</button>
</form>

<% include partials/footer %>